* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

.btn{
    padding: .375rem .875rem;
    background-color: rgb(255, 255, 255);
    color: #333;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}